priority 50

snippet "cor" "Signature cordiale" br
Cordialement,

Patrick Massot
endsnippet

snippet "ami" "Signature amicale" br
Amicalement,

Patrick
endsnippet

snippet "salut" "Mail amical" br
Salut,

${1}

Patrick
endsnippet

